/* Reset Styling */
*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
/* Root */
:root {
  --main-bg-colour: rgb(246, 232, 193);
  --secondary-colour: rgb(191, 115, 61);
  --main-font-colour: black;
  --secondary-font-colour: white;
}

/* Data related  */
[data-action] {
  cursor: pointer;
}

/* General */
body {
  background-color: var(--main-bg-colour);
  color: var(--main-font-colour);
  height: 100%;
  width: 100%;
}
header {
  text-align: center;
  padding: 2%;
  background-color: var(--secondary-colour);
  color: var(--main-font-colour);
}

.studentDiv {
  /* border: 1px solid red; */
  max-width: 100%;
  padding: 2% 4%;
  border-radius: 1vw;
  display: flex;
  flex-direction: row;
  height: 15vh;
  justify-content: space-between;
  background-color: rgb(255, 244, 219);
  align-items: center;
}

.studentDiv div {
  padding-left: 7%;
}

.studentDiv img {
  max-width: 60%;
  align-self: center;
}

.listManipluation {
  max-width: 95%;
  margin: 0 auto;
}
.listSections {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}
#sorting {
  background-color: transparent;
  border: none;
  font-style: italic;
  height: 5vh;
  margin: auto 0;
}
#sorting:hover {
  background-color: rgb(235, 235, 235);
  border-radius: 1vw;
}
.listSections p {
  display: flex;
  max-width: 100%;
  gap: 0 2%;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.listSections button {
  border: none;
  background-color: rgb(249, 243, 255);
  padding: 2%;
  cursor: pointer;
  margin: 1%;
}
.listFiltering {
  width: 100%;
}

.gridView {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  gap: 5vw 0;
}

footer {
  text-align: center;
  background-color: var(--secondary-colour);
  color: var(--main-font-colour);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.dialog {
  box-shadow: 1px 1px 10px #333;
  border-radius: 12px;
  padding: 2em;
  position: relative;
  background-color: antiquewhite;
}

.closeButton {
  position: absolute;
  right: -1em;
  top: -1em;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  background-color: black;
  color: white;
  border: 1px white solid;
}

[data-field="houdeCrest"] {
  max-width: 30%;
}
.popImages {
  display: flex;
  flex-direction: row;
  width: 18vw;
  justify-content: space-evenly;
}

.dialog h1 {
  margin-top: 0;
}

.hidden {
  visibility: hidden;
}

li {
  list-style: none;
}

[data-field="prefect"][data-prefect="false"]::after {
  filter: grayscale(1);
}
[data-field="prefect"]::after {
  content: "👑";
}
[data-field="expelled"][data-expelled="false"]::after {
  filter: grayscale(1);
}

[data-field="expelled"]::after {
  content: "❗";
}

.searchPlace {
  display: flex;
  justify-content: flex-end;
}
/* Media Queries */

@supports (display: grid) {
  @media screen and (min-width: 768px) {
    .gridView {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      height: 100%;
      justify-content: space-between;
      gap: 1vw 1vw;
      width: 95%;
      margin: 0 auto;
      padding: 1% 0;
    }

    .listSections p {
      max-width: 80%;
      flex-wrap: nowrap;
      gap: 0 2%;
      justify-content: flex-start;
    }
    .listSections button {
      padding: 1%;
      margin: 0;
    }
  }
  @media screen and (min-width: 1101px) {
    .gridView {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      height: 100%;
    }
  }
}

.hidden {
  display: none;
}

.Gryffindor {
  border: 6px solid rgb(255, 96, 96);
}

.Hufflepuff {
  border: 6px solid rgb(255, 255, 120);
}
.Slytherin {
  border: 6px solid rgb(121, 255, 121);
}
.Ravenclaw {
  border: 6px solid rgb(122, 122, 255);
}

[data-field="studentPortait"] {
  border-radius: 2vw;
}
